hr {
    border: 1px solid #2c353e;
    margin: 25px 0 25px 0;
    width: 100%;
    background: #2c353e;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #2c353e;
    margin-bottom: 20px;
}

.main__info__form {
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}
.form__label {
    margin: 10px 0 10px 0;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}
.form__text {
    border: 2px solid #35afbf;
    padding: 12px;
    margin: 5px 0 22px 0;
    width: 50%;
    font-size: 14px;
    border-radius: 6px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}
.form__checkbox {
    margin: 0 0 0 20px;
    width: 15px;
    height: 15px;
}
.form__submit {
    background: #42515e;
    padding: 11px 15px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    margin: 22px 0 22px 0;
    width: 50%;
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__submit:hover {
    box-shadow: 0px 4px 0px #35afbf;
    transition: box-shadow 0.3s ease;
}
.form__submit:active {
    transform: scale(0.97);
}

.messages_error {
    width: 100%;
    background: rgba(255, 68, 0, 0.48);
    border-radius: 10px;
    height: 50px;
    margin: 0 0 20px 0;
}
.error {
    font-size: 17px;
}
.main__messages__success {
    width: 100%;
    background: rgba(55, 255, 0, 0.48);
    border-radius: 10px;
    padding: 5px;
    margin: 0 0 20px 0;
}
.main__messages__danger {
    width: 100%;
    background: rgba(255, 68, 0, 0.48);
    border-radius: 10px;
    height: 50px;
    margin: 0 0 20px 0;
}

.form__textarea {
    border: 2px solid #35afbf;
    width: 50%;
    height: 120px;
    padding: 4px;
    font-size: 14px;
    border-radius: 6px;
    resize: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

@media (max-width: 300px) {
    .form__submit,
    .form__text {
        width: 220px;
    }
}
