.main {
    margin: 0 auto;
    width: 1200px;
}
.main__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #2c353e;
}

.info {
    padding: 0 0 20px;
    border-bottom: 2px solid #2c353e;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 500px;
    gap: 25px;
    padding: 0 60px 15px 0;
}

.group__name {
}
.members {
}
.group__img {
}
.description {
}
.form__submit {
}

.group__name,
.members,
.group__img,
.description,
.form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__label {
}
.form__text {
    padding: 10px;
    width: 300px;
    height: 42.4px;
    border: 1px solid rgb(71, 71, 8);
    transition: all 0.2s ease;
}
.form__text::placeholder {
    font-size: 20px;
}
.form__text:focus {
    outline: none;
    font-size: 19px;
}

.form__textarea {
    border: 1px solid #2c353e;
    width: 60%;
    height: 120px;
    padding: 4px;
}
.form__submit__btn {
    padding: 20px;
    border: 1px solid #2c353e;
    background-color: rgb(250, 250, 250);
    font-size: 16px;
    font-weight: 800;
}
.form__submit__btn:hover {
    background-color: rgb(134, 134, 134);
    color: #fff;
}
.form__submit__btn:active {
    text-shadow: 0 0 10px #fff;
}

.form__submit {
}
.form__img__btn {
    display: none;
}

.file__upload {
    width: 140px;
    height: 50px;
    background: url(../static/img/1297064598_1296921710_001.gif);
    background-size: cover;
    border: 1px solid #2c353e;
    position: relative;
}
.file__upload::before {
    content: "Тицніть на кота щоб завантажити фото =)";
    font-size: 14px;
    position: absolute;
    transform: translateX(-100%);
}
