.main {
}
.container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main__inner {
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px 0;
}
.user__img {
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.user__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
    color: black;
}
.user__name {
    font-size: 45px;
}
.user__email {
    font-size: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}
.change__info {
    font-size: 30px;
    text-align: center;
}
.form__username,
.form__email,
.form__image,
.file__upload {
    display: flex;
    flex-direction: column;
}
.submit {
}

@media (max-width: 700px) {
    .container {
        align-items: unset;
        padding: 0 10px;
    }
    .user__name {
        font-size: 20px;
    }
    .user__email {
        font-size: 15px;
    }
    .main__inner {
        width: fit-content;
        flex-wrap: wrap;
    }
    .change__info {
        text-align: left;
    }
}
