.main {
    margin: 0 auto;
    width: 1200px;
}
.main__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #2c353e;
}

.info {
}

form {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    width: 100%;
    gap: 25px;
    padding: 0 60px 15px 0;
}

.group__name {
}
.members {
}
.group__img {
}
.description {
}
.form__submit {
}

.group__name,
.members,
.group__img,
.description,
.form__submit {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* justify-content: space-between;
    align-items: center; */
}

.form__img__btn {
    display: none;
}

.file__upload {
    cursor: pointer;
    width: 140px;
    height: 50px;
    background: url(../static/img/1297064598_1296921710_001.gif);
    background-size: cover;
    border: 1px solid #2c353e;
    position: relative;
    transform: translateX(150%);
}
.file__upload::before {
    content: "Тицніть на кота щоб завантажити фото =)";
    font-size: 14px;
    position: absolute;
    transform: translateX(-100%);
}
