{% extends 'base.html' %} {% block style %}
<link href="../static/style_home.css" rel="stylesheet" />
<script src="../static/script_home.js"></script>
{% endblock %} {% block button %}
<li class="menu__item">
  <a href="{{ url_for('create_group') }}" class="menu__link">Створення групи</a>
</li>
{% endblock %} {% block main %}
<main class="main">
  <div class="main__container _container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="main__messages__{{ category }}">
      <a class="error">{{ message }}</a>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <h1 class="groups__title">Групи</h1>
    <hr />

    {% for musician in musicians %}
    <a href="groups/{{ musician.id }}">
      <div class="main__group group">
        <div class="group__img">
          <img src="/static/img/{{ musician.image }}" />
        </div>
        <div class="group__info info">
          <p class="info__name">{{ musician.name }}</p>
          <br />
          <p class="info__users">
            {{ musician.users|map(attribute="username")|join(', ') }}
          </p>
          <br />
          <p class="info__context">{{ musician.content }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</main>
{% endblock %}
