{% extends 'base.html' %}

{% block style %}
<link href="../static/style_home.css" rel="stylesheet">
{% endblock %}

{% block main %}
<main class="main">
    <div class="main__container _container">
        {% for musician in musicians %}
            <a href="groups/{{ musician.id }}">
                <div class="main__group group">
                    <div class="group__img">
                        <img src="{{ musician.image }}">
                    </div>
                    <div class="group__info info">
                        <p class="info__name">{{ musician.name }}</p><br>

                        <p class="info__users">{{ musician.users|map(attribute="username")|join(', ') }}</p><br>

                        <p class="info__context">{{ musician.content }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</main>
{% endblock %}