<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container _container">
                <div class="logo__menu">
                    <a href="" class="header__logo">Muzik</a>
                    <div class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="" class="menu__link">Створення групи</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Створення альбому</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__buttons">
                    <button type="button" class="button__register button">Зареєструватися</button>
                    <button type="button" class="button__sing__in button">Увійти</button>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="main__container _container">
                <div class="main_group">

                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__container _container">
                <div class="footer__copy">
                    <a href="https://www.instagram.com/bogdan_dubinchenko/" target="_blank" class="footer__img">
                        <img src="../static/img/instagram.png" alt="Instagram">
                    </a>
                    <a href="" class="footer__user">Дубинченко Богдан</a>
                </div>
                <div class="footer__copy">
                    <a href="https://www.instagram.com/roma.kormysh/" target="_blank" class="footer__img">
                        <img src="../static/img/instagram.png" alt="Instagram">
                    </a>
                    <a href="" class="footer__user">Кормиш Роман</a>
                </div>
                <div class="footer__copy">
                    <a href="https://www.instagram.com/thegipss/" target="_blank" class="footer__img">
                        <img src="../static/img/instagram.png" alt="Instagram">
                    </a>
                    <a href="" class="footer__user">Гісса Дмитро</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>