/* Обнулення */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    font-family: "Exo 2", sans-serif;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #707273;
    font-family: Verdana, sans-serif;
}
button {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #707273;
}
/*__________________________________________________________________________________*/
.wrapper {
    min-height: 100%;
    overflow: hidden; /* Обрізає контент без прокрутки */
    display: flex;
    flex-direction: column;
}
/*__________________________________________________________________________________*/
._container {
    max-width: 1046px;
    margin: 0 auto; /* Виставляє блок посередині */
}
main {
    padding: 5px;
}
